:root { 
    --main-dark-color: #160126;
	--main-secondary-color: #af90c7;
    --main-light-color: #24033D;
    --main-center-color: #2D1A3B;
    --main-border-color: #D6C3E4;
    --main-tertiary-color: #693D8A;
}
@import url("https://cdn.jsdelivr.net/gh/MJHeijster/DiscordThemes/Shared.css");